<h1>Create a New Landmark</h1>
<form action="/landmarks" method="POST">

<h3><label>Create a New Landmark</label></h3>
<label>New Landmark</label>
  <input type="text" name="landmark[name]" id="landmark_name" placeholder="Title Name"/> </label></h4>
<label>Year Completed</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Year Completed"/> </label></h4>
<br />
<input type="submit" value="Create New Landmark" />

</form>
